<h1><%= @cocktail.name %></h1>
<% @cocktail.doses.each do |dose| %>
<ul>
  <li>
    <%= dose.description %> - <%= dose.ingredient.name %> <%= link_to "delete", dose_path(dose), method: "delete", data: {confirm: "Are you sure?"} %>
  </li>
</ul>
<% end %>

<%= link_to "Add a dose!", new_cocktail_dose_path(@cocktail)  %>

<%= link_to "Go Back to Cocktails", root_path %>

<%= cl_image_tag("rli0o787n4sgpjii8qe7",
      width: 400, height: 300, crop: :fill) %>
