<h1>Doses#new</h1>
<p>Find me in app/views/doses/new.html.erb</p>


<%= simple_form_for [ @cocktail, @dose ] do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient %>
  <%= f.association :cocktail %>
  <%= f.button :submit %>
<% end %>
